/*Colors*/
/*Font size*/
body {
  font-size: 16px;
}

@media (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 769px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  body {
    font-size: 12px;
  }
}
/*PC
@media (max-width:1440px) {
    $font-h2-header: 20px;
    $font-h3-header: 18px;
    $font-h4-header: 14px;
    $font-p-header: 12px;
    $font-a-header: 128px;

    $font-h2-body: 30px;
    $font-h3-body: 26px;
    $font-h4-body: 22px;
    $font-p-body: 14px;
    $font-a-body: 18px;

    $font-h2-banner: 32px;
    $font-h3-banner: 40px;
    $font-p-banner: 18px;
    $font-a-banner: 24px;

    $font-h2-card: 24px;
    $font-h3-card: 16px;

    $font-h4-card:14px;

    $font-p-card: 14px;
    $font-a-card: 12px;

}*/
/*Laptop
@media (max-width:1024px) {
    $font-h2-header: 14px;
    $font-h3-header: 12px;
    $font-h4-header: 10px;
    $font-p-header: 10px;
    $font-a-header: 12px;

    $font-h2-body: 22px;
    $font-h3-body: 18px;
    $font-h4-body: 16px;
    $font-p-body: 14px;
    $font-a-body: 14px;

    $font-h2-banner: 22px;
    $font-h3-banner: 32px;
    $font-p-banner: 12px;
    $font-a-banner: 18px;

    $font-h2-card: 18px;
    $font-h3-card: 12px;
    $font-h4-card: 12px;
    $font-p-card: 12px;
    $font-a-card: 12px;

}


Tablet
@media (max-width:769px) {
    $font-h2-header: 12px;
    $font-h3-header: 10px;
    $font-h4-header: 8px;
    $font-p-header: 8px;
    $font-a-header: 10px;

    $font-h2-body: 18px;
    $font-h3-body: 14px;
    $font-h4-body: 12px;
    $font-p-body: 10px;
    $font-a-body: 10px;

    $font-h2-banner: 18px;
    $font-h3-banner: 28px;
    $font-p-banner: 12px;
    $font-a-banner: 14px;

    $font-h2-card: 14px;
    $font-h3-card: 10px;

    $font-h4-card: 10px;

    $font-p-card: 10px;
    $font-a-card: 10px;

}

Cell
@media (max-width:425px) {
    $font-h2-header: 12px;
    $font-h3-header: 10px;
    $font-h4-header: 8px;
    $font-p-header: 8px;
    $font-a-header: 10px;

    $font-h2-banner: 14px;
    $font-h3-banner: 16px;
    $font-p-banner: 10px;
    $font-a-banner: 12px;

    $font-h2-body: 12px;
    $font-h3-body: 10px;
    $font-h4-body: 10px;
    $font-p-body: 10px;
    $font-a-body: 10px;

    $font-h2-card: 16px;
    $font-h3-card: 10px;

    $font-h4-card: 10px;

    $font-p-card: 10px;
    $font-a-card: 10px;

}
*/
/*---------inicio Cart---------*/
.master-container {
  margin: 2rem;
  display: grid;
  grid-template: "cart cart coupons" "cart cart checkout";
  gap: 10px;
  /* cart */
  /* coupons */
  /* Checkout */
}
.master-container .card {
  border-radius: 14px;
  margin: 0 0 auto 0;
  width: auto;
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.master-container .card .title {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #efeff3;
  font-size: 125%;
  font-weight: bold;
  color: #63656b;
}
.master-container .card .small {
  font-size: 125%;
  font-weight: bold;
  margin: auto;
}
.master-container .cart {
  grid-area: cart;
}
.master-container .cart .products {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.master-container .cart .products .product {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
}
.master-container .cart .products .product:nth-child(odd) {
  background-color: rgba(223, 223, 223, 0.37);
}
.master-container .cart .products .product-img {
  justify-self: center;
}
.master-container .cart .products img {
  width: 25px;
  height: auto;
}
.master-container .cart .products span {
  font-size: 125%;
  font-weight: bold;
  color: #47484b;
  display: block;
}
.master-container .cart .products p {
  font-size: 100%;
  color: #7a7c81;
}
.master-container .cart .quantity {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
}
.master-container .cart .quantity label {
  width: 25px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  font-weight: bold;
  color: #47484b;
}
.master-container .cart .quantity button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  padding-bottom: 2px;
}
.master-container .coupons {
  grid-area: coupons;
}
.master-container .coupons form {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 80px;
  gap: 10px;
  padding: 10px;
}
.master-container .coupons form .input_field {
  width: auto;
  font-size: 100% !important;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.master-container .coupons form .input_field::-moz-placeholder {
  font-size: 100%;
}
.master-container .coupons form .input_field::placeholder {
  font-size: 100%;
}
.master-container .coupons form .input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}
.master-container .coupons form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;
  width: 100%;
  height: 36px;
  background: linear-gradient(180deg, #4480FF 0%, #115DFC 50%, #0550ED 100%);
  box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  border: 0;
  font-style: normal;
  font-size: 100%;
  font-weight: bold;
  color: #ffffff;
}
.master-container .checkout {
  grid-area: checkout;
}
.master-container .checkout .details {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
  gap: 5px;
}
.master-container .checkout .details span {
  font-size: 100%;
  font-weight: bold;
}
.master-container .checkout .details span:nth-child(odd) {
  font-size: 100%;
  font-weight: normal;
  color: #707175;
  margin: auto auto auto 0;
}
.master-container .checkout .details span:nth-child(even) {
  font-size: 100%;
  font-weight: bold;
  color: #47484b;
  margin: auto 0 auto auto;
}
.master-container .checkout .checkout--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  margin: 0 0 10px 0;
  background-color: #efeff3;
}
.master-container .checkout .checkout--footer .price {
  position: relative;
  font-size: 150%;
  font-weight: bold;
  color: #2B2B2F;
}
.master-container .checkout .checkout--footer .price sub {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  font-size: 11px;
  color: #5F5D6B;
  bottom: 5px;
  display: inline-block;
}
.master-container .checkout .checkout--footer .checkout-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 36px;
  background: linear-gradient(180deg, #4480FF 0%, #115DFC 50%, #0550ED 100%);
  box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 7px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 100%;
  font-weight: bold;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

@media (max-width: 425px) {
  .master-container {
    grid-template: "cart" "coupons" "checkout";
  }
  .card {
    margin: none !important;
  }
}
/*---------fin Cart---------*/
/*--------- Inicio Contacto---------*/
.contacto {
  display: flex;
  place-content: center;
}
.contacto .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}
.contacto .form .form-contact {
  color: #B13251;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto .form .form-contact h3 {
  font-size: 150% !important;
}
.contacto .form .form-data input {
  outline: 0;
  border: 1px solid #B13251;
  padding: 8px 14px;
  margin: 4px 0;
  border-radius: 8px;
  width: 100%;
  height: auto;
  font-size: 100% !important;
}
.contacto .form .form-message {
  width: 100%;
}
.contacto .form .form-message textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  padding: 8px 14px;
  border: 1px solid #B13251;
  font-size: 100% !important;
}
.contacto .form .form-message textarea::-moz-placeholder {
  font-size: 100%;
}
.contacto .form .form-message textarea::placeholder {
  font-size: 100%;
}
.contacto .form button {
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 100%;
  font-weight: 500;
  background-color: #B13251;
  color: #f5f5f5;
  cursor: pointer;
  width: 100%;
}

/*--------- Fin Contacto---------*/
/*------------- inicio contenedor grid---------------------*/
.principal-content .grid-ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*------------- Fin contenedor grid---------------------*/
/*Inicio footer*/
.footer {
  width: 100%;
  background-color: #B13251;
}
.footer h3 {
  font-size: 125%;
  font-weight: bold;
}
.footer h4 {
  font-size: 115%;
  font-weight: normal;
}
.footer .container .footer-form {
  display: grid;
  grid-template: "f-txt f-input f-btn" 1fr;
  justify-self: center;
  align-self: center;
}
.footer .container .footer-form a {
  text-decoration: none;
  font-size: 100%;
}
.footer .container .footer-form .footer-form-txt {
  grid-area: f-txt;
  justify-items: center;
}
.footer .container .footer-form .footer-form-input {
  grid-area: f-input;
}
.footer .container .footer-form .footer-form-input .form-control {
  font-size: 100% !important;
  width: 40vw;
  margin: auto;
}
.footer .container .footer-form .footer-form-btn {
  grid-area: f-btn;
}
.footer .container .footer-form .footer-form-btn .btn {
  font-size: 100% !important;
  color: white;
  margin: auto;
  border-color: white;
}
.footer .container .footer-links a {
  text-decoration: none;
  font-size: 100%;
}

@media (max-width: 769px) {
  .footer .container .footer-form {
    grid-template: "f-txt f-txt" 1fr "f-input f-btn" 1fr;
  }
  .footer .container .footer-form .footer-form-input .form-control {
    width: 60vw;
  }
}
/*Fin footer*/
/*------------- Inicio header---------------------*/
.header {
  /*fondo*/
  background-color: #B13251 !important;
}
.header .container-fluid {
  display: grid;
  width: 100vw;
  grid-template: "hlogo hsearch hmenu" 1fr "hlogo hsearch hmenu" 1fr;
  /*logo*/
  /*search*/
  /*Menu*/
}
.header .container-fluid .header-logo {
  grid-area: hlogo;
}
.header .container-fluid .header-logo img {
  height: 3rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.header .container-fluid .header-search {
  grid-area: hsearch;
  font-weight: lighter;
  margin: auto;
}
.header .container-fluid .header-search .form-control {
  font-size: 100% !important;
  width: 35vw;
  margin: auto;
}
.header .container-fluid .header-search .btn {
  font-size: 100% !important;
  color: white;
  margin: auto;
  border-color: white;
}
.header .container-fluid .header-navbar {
  grid-area: hmenu;
  justify-self: right;
}
.header .container-fluid .header-navbar .navbar-toggler {
  border: none;
  color: white !important;
}
.header .container-fluid .header-navbar a {
  /*lista navbar*/
  font-size: 100% !important;
  color: white;
  text-decoration: none;
  margin: 0 auto;
}

@media (max-width: 426px) {
  .header .container-fluid {
    display: grid;
    grid-template: "hlogo hlogo hmenu" 1fr "hsearch hsearch hsearch" 1fr;
  }
  .header .container-fluid .header-logo img {
    height: 2rem;
  }
  .header .container-fluid .header-search {
    margin: 5px;
  }
  .header .container-fluid .header-search .form-control {
    width: 50vw;
  }
}
/*------------- fin header---------------------*/
/*------------- inicio card cerveza---------------------*/
.item-card-cerveza {
  /*card*/
  margin: 15px 2%;
  background-image: url(./../../../Img/Card-Fondo\ 2.png);
  background-repeat: round;
  background-size: contain;
  width: 400px;
  height: 300px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  /*contenido dentro de la card botella + texto*/
}
.item-card-cerveza:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}
.item-card-cerveza h2 {
  color: white;
  font-size: 150%;
}
.item-card-cerveza p {
  color: white;
  font-size: 100%;
}
.item-card-cerveza .contenido-card {
  display: flex;
  justify-content: center;
  align-items: center;
  /*text*/
  /*imagen derecha*/
}
.item-card-cerveza .contenido-card .contenido-txt-card {
  height: -moz-fit-content;
  height: fit-content;
  width: 220px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  margin: 30px;
  padding: 5px;
}
.item-card-cerveza .contenido-card .contenido-img-card img {
  width: 60px;
}

/*------------- Fin card cerveza---------------------*/
/*------------- inicio card vino---------------------*/
.item-card-vino {
  /*card*/
  margin: 15px 2%;
  background-image: url(./../../../Img/Card-Fondo\ 1.png);
  background-repeat: round;
  background-size: contain;
  width: 400px;
  height: 300px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  /*contenido dentro de la card botella + texto*/
}
.item-card-vino:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}
.item-card-vino h2 {
  color: white;
  font-size: 150%;
}
.item-card-vino p {
  color: white;
  font-size: 100%;
}
.item-card-vino .contenido-card {
  display: flex;
  justify-content: center;
  align-items: center;
  /*text*/
  /*imagen derecha*/
}
.item-card-vino .contenido-card .contenido-txt-card {
  height: -moz-fit-content;
  height: fit-content;
  width: 220px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  margin: 30px;
  padding: 5px;
}
.item-card-vino .contenido-card .contenido-img-card img {
  width: 60px;
}

/*------------- fin card vino---------------------*/
/*Inicio Carousel*/
.carousel {
  /*contenedor slide carousel*/
  position: relative;
  width: 100%;
  /*inicio controles*/
  /*fin controles*/
  /*inicio inner*/
}
.carousel h2 {
  font-size: 130%;
  font-weight: normal;
  margin: 1%;
}
.carousel h3 {
  color: white;
  font-size: 175% !important;
  font-weight: bolder;
  background-color: #B13251;
  margin: 1%;
}
.carousel p {
  font-size: 100% !important;
  line-height: normal;
  margin: 0%;
}
.carousel a {
  font-size: 125% !important;
  color: white;
  font-weight: normal;
}
.carousel .Controls .carousel-indicators {
  position: absolute;
  top: 90%;
}
.carousel .Controls .carousel-control-prev {
  /*control prev*/
  left: -1%;
  z-index: 1;
  position: absolute;
}
.carousel .Controls .carousel-control-next {
  /*control next*/
  right: -1%;
  z-index: 1;
  position: absolute;
}
.carousel .carousel-inner .carousel-item {
  /*imagen*/
}
.carousel .carousel-inner .carousel-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.carousel .carousel-inner .carousel-item .carousel-content {
  position: absolute;
  top: 25%;
  left: 10%;
  /*texto de carousel*/
}
.carousel .carousel-inner .carousel-item .carousel-content .carousel-txt {
  position: relative;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5%;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2%;
  color: white;
  margin: 1%;
}
.carousel .carousel-inner .carousel-item .carousel-content .carousel-txt .btn {
  border: none;
  background-color: #B13251;
  margin: 0%;
}

/*fin Carousel*/
@media (max-width: 426px) {
  .carousel .carousel-inner .carousel-item img {
    height: 30vh;
  }
  .carousel .carousel-inner .carousel-item .carousel-content {
    width: 60%;
    left: 10%;
    top: 10%;
  }
}
/*Inicio ofertas destacadas*/
.selector-filtro {
  /*contenedor filtro*/
  display: grid;
  grid-template: "txt-title txt-title txt-title" 1fr "txt-subtitle1 txt-subtitle2 txt-subtitle3" 1fr;
  margin: auto;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 10px;
  color: rgb(38, 38, 38);
}
.selector-filtro h2 {
  font-weight: bold;
}
.selector-filtro a {
  font-size: 100%;
  text-decoration: none;
  color: rgb(38, 38, 38);
}
.selector-filtro a:hover {
  font-weight: bold;
  font-size: 120%;
}
.selector-filtro .txt-titulo {
  grid-area: txt-title;
}
.selector-filtro .txt-subtitulo1 {
  grid-area: txt-subtitle1;
}
.selector-filtro .txt-subtitulo1 {
  grid-area: txt-subtitle1;
}
.selector-filtro .txt-subtitulo1 {
  grid-area: txt-subtitle1;
}

/*Fin ofertas destacadas*//*# sourceMappingURL=style.css.map */