/*Colors*/
/*Font size*/
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
body {
  font-family: "mulish", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
body a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 769px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  body {
    font-size: 10px;
  }
}
/*PC
@media (max-width:1440px) {
    $font-h2-header: 20px;
    $font-h3-header: 18px;
    $font-h4-header: 14px;
    $font-p-header: 12px;
    $font-a-header: 128px;

    $font-h2-body: 30px;
    $font-h3-body: 26px;
    $font-h4-body: 22px;
    $font-p-body: 14px;
    $font-a-body: 18px;

    $font-h2-banner: 32px;
    $font-h3-banner: 40px;
    $font-p-banner: 18px;
    $font-a-banner: 24px;

    $font-h2-card: 24px;
    $font-h3-card: 16px;

    $font-h4-card:14px;

    $font-p-card: 14px;
    $font-a-card: 12px;

}*/
/*Laptop
@media (max-width:1024px) {
    $font-h2-header: 14px;
    $font-h3-header: 12px;
    $font-h4-header: 10px;
    $font-p-header: 10px;
    $font-a-header: 12px;

    $font-h2-body: 22px;
    $font-h3-body: 18px;
    $font-h4-body: 16px;
    $font-p-body: 14px;
    $font-a-body: 14px;

    $font-h2-banner: 22px;
    $font-h3-banner: 32px;
    $font-p-banner: 12px;
    $font-a-banner: 18px;

    $font-h2-card: 18px;
    $font-h3-card: 12px;
    $font-h4-card: 12px;
    $font-p-card: 12px;
    $font-a-card: 12px;

}


Tablet
@media (max-width:769px) {
    $font-h2-header: 12px;
    $font-h3-header: 10px;
    $font-h4-header: 8px;
    $font-p-header: 8px;
    $font-a-header: 10px;

    $font-h2-body: 18px;
    $font-h3-body: 14px;
    $font-h4-body: 12px;
    $font-p-body: 10px;
    $font-a-body: 10px;

    $font-h2-banner: 18px;
    $font-h3-banner: 28px;
    $font-p-banner: 12px;
    $font-a-banner: 14px;

    $font-h2-card: 14px;
    $font-h3-card: 10px;

    $font-h4-card: 10px;

    $font-p-card: 10px;
    $font-a-card: 10px;

}

Cell
@media (max-width:425px) {
    $font-h2-header: 12px;
    $font-h3-header: 10px;
    $font-h4-header: 8px;
    $font-p-header: 8px;
    $font-a-header: 10px;

    $font-h2-banner: 14px;
    $font-h3-banner: 16px;
    $font-p-banner: 10px;
    $font-a-banner: 12px;

    $font-h2-body: 12px;
    $font-h3-body: 10px;
    $font-h4-body: 10px;
    $font-p-body: 10px;
    $font-a-body: 10px;

    $font-h2-card: 16px;
    $font-h3-card: 10px;

    $font-h4-card: 10px;

    $font-p-card: 10px;
    $font-a-card: 10px;

}
*/
/*--------- Inicio Contacto---------*/
.contacto {
  display: flex;
  place-content: center;
}
.contacto .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}
.contacto .form .form-contact {
  color: #B13251;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.contacto .form .form-data input {
  outline: 0;
  border: 1px solid #B13251;
  padding: 8px 14px;
  margin: 4px 0;
  border-radius: 8px;
  width: 100%;
  height: auto;
  font-size: 100% !important;
}
.contacto .form .form-message {
  width: 100%;
}
.contacto .form .form-message textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  padding: 8px 14px;
  border: 1px solid #B13251;
  font-size: 100% !important;
}
.contacto .form .form-message textarea::-moz-placeholder {
  font-size: 100%;
}
.contacto .form .form-message textarea::placeholder {
  font-size: 100%;
}

/*--------- Fin Contacto---------*/
/*------------- inicio contenedor grid---------------------*/
.principal-content .grid-ofertas {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
}

/*------------- Fin contenedor grid---------------------*/
/*Inicio footer*/
.footer {
  width: 100%;
  background-color: #B13251;
}
.footer h3 {
  font-size: 125%;
  font-weight: bold;
}
.footer h4 {
  font-size: 115%;
}
.footer .container .footer-form {
  display: grid;
  grid-template: "f-txt f-input f-btn" 1fr;
  justify-self: center;
  align-self: center;
}
.footer .container .footer-form a {
  text-decoration: none;
  font-size: 100%;
}
.footer .container .footer-form .footer-form-txt {
  grid-area: f-txt;
  justify-items: center;
  align-self: center;
}
.footer .container .footer-form .footer-form-input {
  grid-area: f-input;
}
.footer .container .footer-form .footer-form-input .form-control {
  font-size: 100% !important;
  width: 40vw;
  line-height: 0;
  margin: auto;
}
.footer .container .footer-form .footer-form-btn {
  grid-area: f-btn;
}
.footer .container .footer-form .footer-form-btn .btn {
  font-size: 100% !important;
  color: white;
  margin: auto;
  border-color: white;
}
.footer .container .footer-links a {
  text-decoration: none;
  font-size: 100%;
}

@media (max-width: 769px) {
  .footer .container .footer-form {
    grid-template: "f-txt f-txt" 1fr "f-input f-btn" 1fr;
  }
  .footer .container .footer-form .footer-form-input .form-control {
    width: 60vw;
  }
}
/*Fin footer*/
/*------------- Inicio header---------------------*/
.header {
  /*fondo*/
  background-color: #B13251 !important;
}
.header .container-fluid {
  display: grid;
  width: 100%;
  margin: 0 10px;
  grid-template: "hlogo hsearch hmenu" auto "hlogo hsearch hmenu" auto;
  /*logo*/
  /*search*/
  /*Menu*/
}
.header .container-fluid .header-logo {
  grid-area: hlogo;
}
.header .container-fluid .header-logo img {
  height: 3rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.header .container-fluid .header-search {
  grid-area: hsearch;
  margin: 0 auto;
}
.header .container-fluid .header-search .form-control {
  font-size: 100% !important;
  font-weight: lighter;
  line-height: 0;
  width: auto;
  margin: auto;
}
.header .container-fluid .header-search .btn {
  font-size: 100% !important;
  color: white;
  margin: auto;
  border-color: white;
}
.header .container-fluid .header-navbar {
  grid-area: hmenu;
  justify-self: center;
}
.header .container-fluid .header-navbar .navbar-toggler {
  border: none;
  color: white;
}
.header .container-fluid .header-navbar a {
  /*lista navbar*/
  font-size: 100% !important;
  margin: 0 auto;
  color: white;
}

@media (max-width: 426px) {
  .header .container-fluid {
    grid-template: "hlogo hmenu" auto "hsearch hsearch" auto;
  }
}
/*------------- fin header---------------------*/
.container-nosotros {
  width: 90vw;
  margin: 10px auto;
}
.container-nosotros h5 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.cards-nosotros {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
}
.cards-nosotros .card-historia {
  min-width: 300px;
}
.cards-nosotros .card-data {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 300px;
}
.cards-nosotros .card-data i {
  color: #B13251;
  font-size: 1.25em;
}
.cards-nosotros .card-data .card-icons-social a {
  font-size: 1.25em;
  margin: 5px 25px;
}
.cards-nosotros .card-data .card-icons-social a i {
  transition: transform 0.2s;
  /* Animation */
}
.cards-nosotros .card-data .card-icons-social a i:hover {
  transform: scale(1.5);
}
.cards-nosotros .card-data .card-icons-social p {
  margin-bottom: 0;
}
.cards-nosotros .card-mapa {
  width: 300px;
}
.cards-nosotros .card-mapa iframe {
  width: 100%;
}

.servicios-nav a {
  text-decoration: none;
  color: black;
  font-size: 150%;
  text-transform: uppercase;
}
.servicios-nav a:hover {
  font-weight: bold;
  color: #B13251;
}

.servicios {
  width: 100vw;
}
.servicios .contenido-card .card-title {
  text-align: center;
  text-transform: uppercase;
}
.servicios .contenido-card .card-img {
  width: 300px;
  height: 150px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.servicios .contenido-card .card-img img {
  width: 100%;
}

/*---------inicio Cart---------*/
.master-container {
  margin: 2rem;
  display: grid;
  grid-template: "cart coupons" auto "cart checkout" auto;
  gap: 10px;
  /* cart */
  /* coupons */
  /* Checkout */
}
.master-container .card {
  border-radius: 14px;
  margin: 0 0 auto 0;
  width: auto;
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.master-container .card .title {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #efeff3;
  font-size: 125%;
  font-weight: bold;
  color: #63656b;
}
.master-container .card .small {
  font-size: 125%;
  font-weight: bold;
  margin: auto;
}
.master-container .cart {
  grid-area: cart;
}
.master-container .cart .products {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.master-container .cart .products .product {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
}
.master-container .cart .products .product:nth-child(odd) {
  background-color: rgba(223, 223, 223, 0.37);
}
.master-container .cart .products .product-img {
  justify-self: center;
}
.master-container .cart .products img {
  width: 25px;
  height: auto;
}
.master-container .cart .products span {
  font-size: 125%;
  font-weight: bold;
  color: #47484b;
  display: block;
}
.master-container .cart .products p {
  font-size: 90%;
  color: #7a7c81;
}
.master-container .cart .quantity {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
}
.master-container .cart .quantity label {
  width: 25px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  font-weight: bold;
  color: #47484b;
}
.master-container .cart .quantity button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  padding-bottom: 2px;
}
.master-container .coupons {
  grid-area: coupons;
}
.master-container .coupons form {
  display: grid;
  width: auto;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
}
.master-container .coupons form .input_field {
  width: auto;
  font-size: 100% !important;
  padding: 2px 0 2px 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.master-container .coupons form .input_field::-moz-placeholder {
  font-size: 90%;
}
.master-container .coupons form .input_field::placeholder {
  font-size: 90%;
}
.master-container .coupons form .input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}
.master-container .checkout {
  grid-area: checkout;
}
.master-container .checkout .details {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
  gap: 5px;
}
.master-container .checkout .details span {
  font-size: 100%;
  font-weight: bold;
}
.master-container .checkout .details span:nth-child(3), .master-container .checkout .details span:nth-child(4) {
  color: #B13251 !important;
}
.master-container .checkout .details span:nth-child(odd) {
  font-size: 100%;
  font-weight: normal;
  color: #707175;
  margin: auto auto auto 0;
}
.master-container .checkout .details span:nth-child(even) {
  font-size: 100%;
  font-weight: bold;
  color: #47484b;
  margin: auto 0 auto auto;
}
.master-container .checkout .checkout--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  margin: 0 0 10px 0;
  background-color: #efeff3;
}
.master-container .checkout .checkout--footer .price {
  position: relative;
  font-size: 125%;
  font-weight: bold;
  color: #2B2B2F;
}
.master-container .checkout .checkout--footer .price sub {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  font-size: 11px;
  color: #5F5D6B;
  bottom: 5px;
  display: inline-block;
}

@media (max-width: 430px) and (min-width: 320px) {
  .master-container {
    grid-template: "cart" auto "coupons" auto "checkout" auto;
  }
  .card {
    margin: none !important;
  }
}
@media (max-width: 768px) and (min-width: 430px) {
  .master-container {
    grid-template: "cart cart" auto "cart cart" auto "coupons checkout" auto;
  }
  .card {
    margin: none !important;
  }
}
/*---------fin Cart---------*/
.button1 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: white;
  padding: 0em 0.7em;
  font-size: 100%;
  border-radius: 0.5em;
  background: #B13251;
  border: 1px solid #B13251;
  text-transform: uppercase;
}
.button1 a {
  text-decoration: none;
  color: inherit;
}
.button1:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.button1:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.button1:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: white !important;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.button1:hover {
  color: #B13251;
  border: 1px solid white !important;
  font-weight: bold;
}
.button1:hover:before {
  top: -35%;
  background-color: white !important;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.button1:hover:after {
  top: -45%;
  background-color: white !important;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #B13251;
  padding: 0.5em 1.7em;
  font-size: 100%;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  text-transform: uppercase;
}
.button2 a {
  text-decoration: none;
  color: inherit;
}
.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #B13251 !important;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.button2:hover {
  color: #ffffff;
  border: 1px solid #B13251 !important;
  font-weight: bold;
}
.button2:hover:before {
  top: -35%;
  background-color: #B13251 !important;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.button2:hover:after {
  top: -45%;
  background-color: #B13251 !important;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/*------------- inicio card vino---------------------*/
.item-card {
  /*card*/
  margin: 10px;
  background-repeat: round;
  background-size: contain;
  width: 300px;
  height: 200px;
  transition: transform 0.2s; /* Animation */
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*contenido dentro de la card botella + texto*/
}
.item-card:hover {
  transform: scale(1.1);
  box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.25);
}
.item-card .contenido-card {
  display: flex;
  justify-content: center;
  align-items: center;
  /*text*/
  /*imagen derecha*/
}
.item-card .contenido-card .contenido-txt-card {
  height: -moz-fit-content;
  height: fit-content;
  width: 200px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  padding: 10px;
  text-decoration: none;
  color: white;
}
.item-card .contenido-card .contenido-txt-card h2 {
  font-size: 125%;
  margin: 0;
  padding: 0;
}
.item-card .contenido-card .contenido-txt-card h3 {
  text-decoration: none;
  color: white;
  font-size: 125%;
}
.item-card .contenido-card .contenido-txt-card p {
  font-size: 90%;
  margin: 0;
  padding: 0;
}
.item-card .contenido-card .contenido-img-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
  height: auto;
}

/*------------- fin card vino---------------------*/
/*------------- inicio card cerveza---------------------*/
.item-card-cerveza:nth-child(odd) {
  background-image: url(./../../../Img/Card-Fondo-cerveza\ 1.png);
}
.item-card-cerveza:nth-child(even) {
  background-image: url(./../../../Img/Card-Fondo-cerveza\ 2.png);
}

/*------------- Fin card cerveza---------------------*/
/*------------- inicio card vino---------------------*/
.item-card-vino:nth-child(odd) {
  background-image: url(./../../../Img/Card-Fondo-vino\ 1.png);
}
.item-card-vino:nth-child(even) {
  background-image: url(./../../../Img/Card-Fondo-vino\ 2.png);
}

/*------------- fin card vino---------------------*/
.card-item .contenido-txt-card {
  text-align: center;
}
.card-item .contenido-txt-card h2 {
  font-size: 125%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #B13251;
}
.card-item .contenido-txt-card h3 {
  text-decoration: none;
  font-size: 125%;
  font-weight: bold;
}
.card-item .contenido-txt-card p {
  font-size: 90%;
  margin: 0;
  padding: 0;
}
.card-item img {
  height: 200px;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.card-producto {
  margin: 5px 0;
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.06);
}
.card-producto .card-botella {
  text-align: center;
}
.card-producto .card-botella img {
  height: 150px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.card-producto .card-txt {
  width: 1fr;
  text-align: center;
  margin: 10px;
}
.card-producto .card-txt h3 {
  font-size: 125%;
}
.card-producto .card-txt h2 {
  font-size: 125%;
  color: #B13251;
}
.card-producto .card-txt p {
  font-size: 90%;
}
.card-producto .card-txt button {
  border-color: #B13251;
}

.card-producto-small {
  margin: 5px auto;
  width: 220px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.06);
}
.card-producto-small .card-botella {
  text-align: center;
}
.card-producto-small .card-botella img {
  height: 150px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.card-producto-small .card-txt {
  width: 200px;
  text-align: center;
  margin: 10px;
}
.card-producto-small .card-txt h3 {
  font-size: 125%;
}
.card-producto-small .card-txt h2 {
  font-size: 125%;
  color: #B13251;
}
.card-producto-small .card-txt p {
  font-size: 90%;
}
.card-producto-small .card-txt button {
  border-color: #B13251;
}

/*Inicio Carousel*/
.carousel {
  /*contenedor slide carousel*/
  position: relative;
  width: 100%;
  /*inicio inner*/
}
.carousel h2 {
  font-size: 130%;
  font-weight: normal;
  margin: 1%;
}
.carousel h3 {
  color: white;
  font-size: 175% !important;
  font-weight: bolder;
  background-color: #B13251;
  margin: 1%;
  text-transform: uppercase;
}
.carousel p {
  font-size: 100% !important;
  line-height: normal;
  margin: 1%;
}
.carousel .carousel-inner .carousel-item .carousel-caption {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1%;
  border-radius: 10px;
}

/*fin Carousel*/
@media (max-width: 426px) {
  .carousel .carousel-inner .carousel-item img {
    height: 30vh;
  }
  .carousel .carousel-inner .carousel-item .carousel-content {
    width: 60%;
    left: 10%;
    top: 10%;
  }
}
/*Inicio ofertas destacadas*/
.selector-filtro {
  /*contenedor filtro*/
  display: grid;
  grid-template: "txt-title txt-title txt-title" auto "txt-subtitle1 txt-subtitle2 txt-subtitle3" auto;
  color: rgb(38, 38, 38);
  text-transform: uppercase;
  border-top: solid 1px rgba(200, 200, 200, 0.438);
  margin: 15px 0 0 0;
}
.selector-filtro h4 {
  font-weight: bold;
  text-align: center;
}
.selector-filtro a {
  position: relative;
  text-align: center;
  margin: auto;
  font-size: 100%;
  text-decoration: none;
  color: rgb(38, 38, 38);
}
.selector-filtro a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #B13251;
  color: #B13251;
  font-weight: bolder;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.selector-filtro a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  color: #B13251;
  font-weight: bolder;
}
.selector-filtro a:hover {
  color: #B13251;
  font-weight: bold;
}
.selector-filtro .txt-titulo {
  grid-area: txt-title;
  justify-self: center;
}
.selector-filtro .txt-subtitulo1 {
  grid-area: txt-subtitle1;
  justify-self: center;
  transform: scale(1.15);
}
.selector-filtro .txt-subtitulo1:hover {
  transform: scale(1.15);
}
.selector-filtro .txt-subtitulo2 {
  grid-area: txt-subtitle2;
  justify-self: center;
  transform: scale(1.15);
}
.selector-filtro .txt-subtitulo2:hover {
  transform: scale(1.15);
}
.selector-filtro .txt-subtitulo3 {
  grid-area: txt-subtitle3;
  justify-self: center;
}
.selector-filtro .txt-subtitulo3:hover {
  transform: scale(1.15);
}

/*Fin ofertas destacadas*/
/*inicio mas productos*/
.separador-txt-productos {
  margin: 5em 0 1em 0;
  border-top: solid 1px rgba(200, 200, 200, 0.438);
}
.separador-txt-productos h4 {
  font-size: 175%;
}

.txt-productos a {
  color: #B13251 !important;
}
.txt-productos h4 {
  font-size: 125%;
}

/*--Fin mas productos-->*//*# sourceMappingURL=style.css.map */