/*Inicio ofertas destacadas*/
.selector-filtro {
    /*contenedor filtro*/
    display: grid;
    grid-template: 
        "txt-title txt-title txt-title" 1fr
        "txt-subtitle1 txt-subtitle2 txt-subtitle3" 1fr;
    margin: auto;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px;
    color: $color-font;
    h2 {
        font-weight: bold;
    }

    a{
        font-size: $font-a-body;
        text-decoration: none;
        color: $color-font;
        &:hover {
            font-weight: bold;
            font-size: $font-a-body*1.2;
        }
    }


    .txt-titulo {
        grid-area: txt-title;
        }
    
    .txt-subtitulo1{
        grid-area: txt-subtitle1 ;
    }
    .txt-subtitulo1 {
        grid-area: txt-subtitle1;
    }
    .txt-subtitulo1 {
        grid-area: txt-subtitle1;
    }
}

/*Fin ofertas destacadas*/