/* Fuentes */

  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

/*font-family: 'Mulish', sans-serif;*/

/*:root{
    --nombres-variables:valor;
}*/
/*fonts:*/
:root{
    /*Colors*/
    --color-principal:#B13251;
    --color-background:#f5f5f5;

    --color-font: rgb(38, 38, 38);
    --color-font-principal: #B13251;
    --color-font-background:grey;
    --color-font-header: white;

    --color-shadow-black: rgba(0, 0, 0, 0.15);
    --color-shadow-white: rgba(255, 255, 255, 0.2);

    /*Font size*/
    /*cell*/
    --font-h2:12px;
    --font-h3:10px;
    --font-h4:8px;
    --font-p: 8px;
    --font-a: 10px;

    
}

/*Tablet*/
@media (min-width:768px) {
    body {
        --font-h2:14px;
        --font-h3:12px;
        --font-h4:10px;
        --font-p:8px;
    }
}
/*PC*/
@media (min-width:1280px) {
    body {
        --font-h2:16px;
        --font-h3:14px;
        --font-h4:12px;
        --font-p:10px;
    }
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'mulish', sans-serif;
    scrollbar-width: none;
}

body{
    margin: 0;
    background-color: var(--color-background);
    font-family: 'mulish';
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}





/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: var(--font-a);
    user-select: none;
  }
  
  .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
  }
  
  .checkmark span {
    width: 16px;
    height: 1px;
    background-color: var(--color-background);
    position: absolute;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  
  .checkmark span:nth-child(1) {
    top: 10%;
  }
  
  .checkmark span:nth-child(2) {
    top: 50%;
  }
  
  .checkmark span:nth-child(3) {
    top: 90%;
  }
  
  .container input:checked + .checkmark span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
  }
  
  .container input:checked + .checkmark span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
  }
  
  .container input:checked + .checkmark span:nth-child(3) {
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    opacity: 0;
  }



.navbar-toggler{
    border: none;
    padding: 0 10px; 
}


.row{
    background-color: var(--color-principal);
    width: auto;

}

.header-logo{
    padding: 0 10px;
    justify-content: start;
    align-items: start;


}

.logo img{
    width: auto;
    height: 30px;
    object-fit: cover;
    text-align: left;
}





.navbar-toggler-icon{
    height: 25px;
}

.container-list-menu {
    margin: 2px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column; 
}

@media (min-width:768px) {
    .container-list-menu {
        margin: 2px;
        display: flex;
        align-items: flex-end;
        justify-content: right;
        flex-direction: row; 
        margin: 0 10px;
    }
    .container-list-menu li{
        margin: 0 10px;
    }
}

.container-list-menu .nav-item a{
    color: var(--color-background);
    font-size: var(--font-a);
    
}

.container-list-menu a:hover {
    font-weight: bold;
}

.header-menu li{
    display:inline-block;
    padding: auto;
    justify-content: right;
}

/*------------- fin header---------------------*/










/*------------- inicio home content---------------------*/

/*Inicio Carousel*/
.carousel{ /*contenedor slide carousel*/
    width: 100%;
    height: auto;
    position: relative;

}
.carousel-indicators{
    top:auto;
}

/*inicio controles*/
.carousel-control-prev{ /*control prev*/
        left: -10px;
        z-index: 10;
}

.carousel-control-next {/*control next*/
    right: -10px;
    z-index: 10;
}
/*fin controles*/


/*inicio inner*/
.carousel-inner img{ /*imagen*/
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    background-color: var(--color-shadow-white);
}


.carousel-txt{ /*contenedor texto*/
    width: 120px;
    padding: 5px;
    background-color: var(--color-shadow-white);
    border-radius: 10px;
    position: absolute;
    top:20px;
    left: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    flex-wrap: wrap
}

.carousel-txt h2{
    font-size: var(--font-h2) /*8px*/;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin: 1px;
}

.carousel-txt h3{
    color: var(--color-font-header);
    font-size: var(--font-h3) /*10px*/;
    font-weight:bolder;
    background-color: var(--color-principal);
    padding: 10px 15px;
    text-align: center;
    margin: 1px;
}
.carousel-txt p{
    font-size: var(--font-p) /* 6px*/;
    align-items: center;
    text-align: center;
    margin: 1px;
}

.carousel-txt a{
    color: var(--color-font-header);
    font-size: var(--font-a) /*10px*/;
    font-weight:bold;
    background-color: var(--color-principal);
    padding: 5px 15px;
    text-align: center;
    margin: 1px;
    border-radius: 10px;
}

/*fin Carousel*/









/*Inicio ofertas destacadas*/
.selector-filtro { /*contenedor filtro*/
    display: block;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 100%;
    padding: 10px;


}

.txt-ofertas{
    width: 100%;
    height: 10px;
    padding: 0;
    margin: 0;
}


.opciones-destacadas ul li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.selector-filtro h2 {
    width: auto;
    font-size: var(--font-h2); /*12px*/
    font-weight: bold;
    color: var(--color-font);
    font-family: 'mulish';
}

.lista-opciones a {
    color: var(--color-font);
    font-family: 'mulish';
    font-size: var(--font-h2); /*10 px*/
    margin: 0px 10px;
}

.lista-opciones a:hover {
    color: var(--color-principal);
    font-family: 'mulish';
    font-size: var(--font-h2); /*12px*/
    font-weight: bold;
}

/*Fin ofertas destacadas*/





/*--------------grids cards---------------*/

.grid-ofertas{ /*contenedor cards*/
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    grid-template-rows: repeat(auto-fill,250px);
    justify-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
}






/*-------------- cards---------------*/

/*Inicio Cards*/
.item-card{/*card*/
    width: 200px;
    height: 250px;
    padding: 0 10px;
}


.fondo-card img{/*fondo tamaño*/
    width: 100%;
    object-fit: scale-down;
    z-index: 1;
}


/*contenido dentro de la card botella + texto*/
.contenido-card{ 
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 20;
    width: 100%;
    top: -170px;
    padding: 5px;
}



.contenido-img-card img{/*imagen derecha*/
    height: 160px;
    border-radius: 10px;
    
}

.contenido-txt-card{/*text*/
    width: 60%;
    background-color: var(--color-shadow-black);
    border-radius: 8px;
    text-align: center;
    margin: 2px;
    padding: 10px;
    position: relative;
    
}

.Contenido-txt-descripcion{
    display: inline-block;
    justify-content: center;
    margin: 0;
    padding: 0;

}

.contenido-txt-card h2{
    color: var(--color-font-header);
    font-family: 'Mulish';
    font-size: var(--font-h2);
    margin: 0;
    padding: 1px;


}
.contenido-txt-card p{
    color: var(--color-font-header);
    font-family: 'Mulish';
    font-size: var(--font-p);
    margin: 0;
    padding: 1px;
}



/*Fin Cards en home*/

/*------------- fin home content---------------------*/












/*------------- inicio footer---------------------*/

/*Inicio footer*/
.footer{
    color: var(--color-font-header);
    width: 100%;
    position: absolute;
    padding: 0;
    bottom: 0;

}

.col-{
    padding: 0 5px;
}

.footer-copyright{
    color: var(--color-font-principal);
}
.footer-copyright a{
    color: var(--color-font-principal) !important;
}

.footer-copyright p{
    font-size: var(--font-h2) /*8px*/;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin: 1px;
}

.footer li{
    font-size: var(--font-h2) /*8px*/;
    font-weight: bold;
    text-align: left;
}

.footer h2{
    font-size: var(--font-h2) /*8px*/;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin: 1px;
}
.footer h3{
    font-size: var(--font-h3) /*8px*/;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin: 1px;
}

.footer a{
    color: var(--color-background);
    font-size: var(--font-a);
    
}

.footer a:hover {
    font-weight: bold;
}


.nav-correo{
    margin: 5px;
}
.nav-correo-txt .nav-correo-input {
    object-position: center;
    max-width: 190px;
}

.input-mail {
    width: 200px;
    font-size: var(--font-p);
    color: var(--font-p);
    border: 2px solid var(--color-font-header);
    border-radius: 5px;
    padding: 3px 15px;
  }
  
  .Subscribe {
    border: none;
    background-color: var(--color-background);
    text-decoration: none;
    font-size: var(--font-h2);
    color: var(--color-font-principal);
    border-radius: 5px;
    padding: 3px 15px;
    cursor: pointer;
  }






/*Fin footer*/



/*Inicio Page Contacto*/
.contacto{
    display: flex;
    place-content: center;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    width: 300px;
    background-color: var(--color-background);
    padding: 20px;
    border-radius: 10px;
  }
  
.form .form-contact {
    color: var(--color-font-principal);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-contact h2{
    font-size: var(--font-h2);
}


.form-contact-text {
    margin:10px;
}
  


.form input {
    outline: 0;
    border: 1px solid var(--color-font-principal);
    padding: 8px 14px;
    margin: 4px 0;
    border-radius: 8px;
    width: 100%;
    height: auto;
    font-size: var(--font-h3);
}
  
.form-message{
    width: 100%;
}
.form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    padding: 8px 14px;
    border: 1px solid var(--color-font-principal);
    font-size: var(--font-h3);

}
  
.form button {
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: var(--font-h2);
    font-weight: 500;
    background-color: var(--color-font-principal);
    color: var(--color-background);
    cursor: pointer;
    width: 100%;
}

/*Fin Page Contacto*/


/*Inicio Page Nosotros*/

 .section-nosotros {
    display: flex;
    place-content: center;
    height: fit-content;
  }

  .container-nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    width: 300px;
    background-color: var(--color-background);
    padding: 20px;
    border-radius: 10px;
  }

  .container-us h2{
    font-size: var(--font-h2);
  }

  .container-us p{
    font-size: var(--font-p);
    text-align: center;
  }


/*Fin Page Nosotros*/
