/* Fuentes */

  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

/*font-family: 'Mulish', sans-serif;*/

/*:root{
    --nombres-variables:valor;
}*/
/*fonts:*/
:root{
    /*Colors*/
    --color-principal:#B13251;
    --color-background:#f5f5f5;
    --color-font-background:grey;
    --color-font-header:white;

    /*Font size*/
    /*cell*/
    --cell-font-h1:16px;
    --cell-font-h2:14px;
    --cell-font-h3:12px;
    --cell-font-p:10px;


    /*Tablet*/
    --tablet-font-h1:18px;
    --tablet-font-h2:16px;
    --tablet-font-h3:14px;
    --tablet-font-p:10px;

    /*PC*/
    --pc-font-h1:20px;
    --pc-font-h2:18px;
    --pc-font-h3:16px;
    --pc-font-p:10px;
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'mulish', sans-serif;
    scrollbar-width: none;
}

body{
    background-color: var(--color-background);
    z-index: -10;
}

header{
    background-color: var(--color-principal);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    z-index: -1;
    padding: 10%;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.menu{
    position: absolute;
    top:10px;
    left: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


.menu .logo{
    font-weight: 700;
    font-size: 25px;
    color: var(--color-font-header);
}

.menu img {
    width: 100px;
    align-items: center;
}
.menu .navbar ul li{
    position: relative;   
    /*float: left;*/
    display: inline-flex;
}

.menu .navbar ul li a{
    font-size: 16px;    
    padding: 20px;
    color: var(--color-font-header);
}

.menu .navbar ul li a:hover{
    font-weight: bold;
    font-size: 20px;    

}

#menu{
    display: none;
}

.menu-icono{
    width: 250px;
}

.menu label{
    cursor: pointer;
    display: none;
}


.search{
    display: inline-flex;
    align-items: center;
    background-color: var(--color-font-header);
    color: var(--color-principal);
    padding: 5px;
    border-radius: 4px;
}

.search :is(input, button){
    background-color: transparent;
    color: inherit;
    border: none;
    outline:none;
}

.search-input{
    width: 0px;
    transition: width 0.5s;
}

.search-button{
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    cursor:pointer;
    transition: color 0.25s;
}

.search-button :hover{
    color: var(--color-font-header)
}

.search:focus-within input{
    width: 200px;
}

::placeholder{
    font: inherit;
    color: var(--color-principal);
}


@media screen and (max-width:375px) {
    .container-list-menu{
        display: none;
        }
    .search{
        display: none;
    }
    .btn{
        color: var(--color-font-header);
        background-color: var(--color-principal);
        border: none;
    }
    .btn:hover{
        color: var(--color-font-header);
        background-color: var(--color-principal);
        border: none;

    }

    .dropdown-menu{
        color: var(--color-font-header);
        background-color: var(--color-principal);
    }
}

@media screen and (max-width:1024px) {
   .container-menu{
    display: none;
    }
}

@media screen and (max-width:1400px) {
    .container-menu{
        display: none;
    }
}








/*fin del header*/












/*-----------------------------------------------------------*/

/*Inicio CSS footer*/

/* barra navegacion footer*/
.footer{
    background-color: var(--color-principal);
    display: grid;
    grid-template-columns: repeat(5,1fr) ;
    grid-template-rows: repeat(1,1fr) ;
    width: auto;
    padding: 20pt 10pt;
    justify-content: space-between;
    flex-shrink: 0;
    scrollbar-width: none;
}

.footer ul li{
    text-decoration: none;
}

/*Vinos*/
.nav-vinos{
    width: auto;
    padding: 10px; 
}
/*Cervezas*/
.nav-cervezas{
    width: auto;
    padding: 10px; 
}

/*Nosotros*/
.nav-nosotros{
    width: auto;
    padding: 10px; 
}

/*Medios de pago*/
.nav-rrss-pago{
    width: auto;
    padding: 10px; 
}

/*Correo*/
.nav-correo{
    width: auto;
    padding: 10px; 
}


.footer h3{
    color: var(--color-font-header);
    font-family:'mulish', sans-serif;
    font-size: 18px;
    font-style:normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    text-decoration: none;
    font-weight: bold;

}

.footer a{
    color: var(--color-font-header);
    font-family:'mulish', sans-serif;
    font-size: 12px;
    font-style:normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    text-decoration: none;
}

.footer a:hover{
    color: var(--color-font-header);
    font-family:'mulish', sans-serif;
    font-size: 14px;
    font-style:normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    text-decoration: none;
    font-weight: bold;
}

.footer-logos{
    color: var(--color-font-header);
    width: 100px;
    margin: 2px;
    padding: 2px;
}

/*fin del footer*/



















/*-----------------------------------------------------------*/


/*Inicio CSS main*/

main{
    width: 100%;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

/*-----------------------------------------------------------*/

/*Inicio - carousel*/

/*Inicio - carousel foto fondo*/
.carousel{
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 530px;
    flex-shrink: 0;
}

.img-banner{
    z-index: 1;
}
/*fin - carousel foto fondo*/

/*Inicio texto carousel*/
.carousel-txt {
    height: 267px ;
    width: 410px;
    position:relative;
    z-index: 2;
    left: 70px;
    top: -450px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 5px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.10);;

}
/*fin texto carousel*/

/*titulo carousel*/
.carousel-txt h2{
    color: var(--color-font-header);
    font-family:'mulish', sans-serif;
    font-size: 28px;
    padding:10px;
    align-content: center;
    justify-content: center;
}

/*texto descuento carousel*/
.carousel-txt h3{
    display: flex;
    width: 350px;
    height: 81px;
    justify-content: center;
    align-items: center;
    background: var(--dark-red, #9A194B);
    color: var(--color-font-header);
    font-family: 'mulish', sans-serif;
    font-size: 48px;

    padding:10px;

}

/*texto carousel*/
.carousel-txt p{
    color: var(--color-font-header);
    /* P - 16 (Regular) */
    font-family: 'mulish', sans-serif;
    font-size: 14px;
    padding:10px;
    align-content: center;
    justify-content: center;

}

/*boton carousel*/
.carousel-txt a{
    display: flex;
    width: 165px;
    height: 52px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--color-principal);
    text-decoration: none;
    color: var(--color-font-header);
    /* P - 16 (Regular) */
    font-family: 'mulish', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    background: var(--color-principal);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*fin texto carousel*/











/*-----------------------------------------------------------*/

/*Inicio ofertas destacadas*/
.selector-filtro{
    display: flex;
    height: 110px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    text-align: center;
    padding: 20px;
    margin-bottom: 80px;
}

.selector-filtro ul li{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.selector-filtro h2{
    width: 750px;
    height: 52px;
    flex-shrink: 0;
    color: var(--black, #000);
    font-family: 'mulish';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 162.5% */
    
}
.lista-opciones a{
    color: var(--grey-40, #666);
    font-family: 'mulish';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    margin: 0px 30px;
}

.lista-opciones a:hover{
    color: var(--color-principal);
    font-family: 'mulish';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
}
/*Fin ofertas destacadas*/


/*-----------------------------------------------------------*/

.grid-ofertas{
    display: grid;
    width: auto;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 5px;
    margin: 10px; 
}





/*Inicio Cards en home*/
.item-card{/*card*/
    display: block;
    width: 390px;
    height: 360px;
    padding: 5px;
    margin: 10px;
}


.contenido-img-card{/*fondo posicion*/
    z-index: 1;
}

.fondo-card img{/*fondo tamaño*/
    width: auto;
}



.contenido-card{ /*contenido dentro de la card*/
    display:inline-flex;
    position: relative;
    align-items: end;
    width: 365px;
    height: 350px;
    z-index: 2;
    left: 30px;   
    top: -350px; 
}

.contenido-txt-card{/*text*/
    width: 172px;
    height: 160px;
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.10);;
}

.contenido-img-card img{/*imagen derecha*/
    height: 350px;
    width: auto;
}




.contenido-txt-card h2{
    color: var(--color-font-header);
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 104.167% */
}
.contenido-txt-card p{
    color: var(--color-font-header);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
}



/*Fin Cards en home*/

/*ajustar card segun screen*/

@media screen and (max-width:375px) {
    .grid-ofertas{
        grid-template-columns: repeat(1,1fr) ;
        grid-template-rows: repeat(6,1fr) ;

    }
}




@media screen and (max-width:1024px) {
    .grid-ofertas{
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows: repeat(3,1fr) ;

    }
}









































/*--------------------Page Servicios--------------------*/

.servicios h2{
    color: var(--black, #000);
    font-family: 'Mulish';
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 123.81% */
}

.servicios ul li{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.servicios a{
    color:#000    ;
    font-family:'mulish', sans-serif;
    font-size: 14px;
    font-style:normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    text-decoration: none;
}

.servicios a:hover{
    font-weight: bold;
    font-size: 16px;
}

.servicios h3{
    color: var(--black, #000);
    font-family: 'Mulish';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 123.81% */
}

.servicios p{
    color: gray;
    /* P - 16 (Regular) */
    font-family: 'mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}






/*--------------------Page Nosotros--------------------*/

.nosotros h2{
    color: var(--black, #000);
    font-family: 'Mulish';
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 123.81% */
}

.nosotros ul li{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.nosotros a{
    color:#000    ;
    font-family:'mulish', sans-serif;
    font-size: 14px;
    font-style:normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    text-decoration: none;
}

.nosotros a:hover{
    font-weight: bold;
    font-size: 16px;
}

.nosotros h3{
    color: var(--black, #000);
    font-family: 'Mulish';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 123.81% */
}

.nosotros p{
    color: gray;
    /* P - 16 (Regular) */
    font-family: 'mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}


























/*--------------------Page Mensajeria--------------------*/

.mensajeria h2{
    color: var(--black, #000);
    font-family: 'Mulish';
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 123.81% */
}

.mensajeria ul li{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.mensajeria a{
    color:#000    ;
    font-family:'mulish', sans-serif;
    font-size: 14px;
    font-style:normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    text-decoration: none;
}

.mensajeria a:hover{
    font-weight: bold;
    font-size: 16px;
}

.mensajeria h3{
    color: var(--black, #000);
    font-family: 'Mulish';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 123.81% */
}

.mensajeria p{
    color: gray;
    /* P - 16 (Regular) */
    font-family: 'mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}


.mensajeria .input-group{
    position: relative;
    margin: 10px;
}

.mensajeria .input-group__input{
    font-family: 'mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */

    color: var(--color-principal);
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid var(--color-principal);
    background-color: transparent;
    transition: outline-color 0.5s;
 
}

.input-group__input:is(:focus, :valid){
    outline-color: blue;
}

.mensajeria .input-group__label{
    position: relative;
    top: 0;
    left: 0;
    translate: 10px 10px;
    color: var(--color-principal);
    transition: translate 0.5s, scale 0.5s;
}

.mensajeria .input-group__input:focus + .input-group__label + .input-group__input:valid + .input-group__label{
    padding-inline: 5px;
    translate: 10px -14px;
    scale:0.8;
    background-color: white;
}