/*Colors*/
/*Font size*/
/*PC*/
/*no usada*/
/*no usada*/
/*no usada*/
/*Laptop*/
@media (max-width: 1024px) {
  body {
    --font-h2-header: 14px;
    --font-h3-header: 12px;
    --font-h4-header: 10px;
    --font-p-header: 10px;
    --font-a-header: 12px;
    --font-h2-body: 22px;
    --font-h3-body: 18px;
    --font-h4-body: 16px;
    --font-p-body: 14px;
    --font-a-body: 14px;
    --font-h2-banner: 24px;
    --font-h3-banner: 32px;
    --font-p-banner: 14px;
    --font-a-banner: 20px;
    --font-h2-card: 18px;
    --font-h3-card: 12px;
    /*no usada*/
    --font-h4-card: 12px;
    /*no usada*/
    --font-p-card: 12px;
    --font-a-card: 12px;
    /*no usada*/
  }
}
/*Tablet*/
@media (max-width: 768px) {
  body {
    --font-h2-header: 12px;
    --font-h3-header: 10px;
    --font-h4-header: 8px;
    --font-p-header: 8px;
    --font-a-header: 10px;
    --font-h2-body: 18px;
    --font-h3-body: 14px;
    --font-h4-body: 12px;
    --font-p-body: 10px;
    --font-a-body: 10px;
    --font-h2-banner: 18px;
    --font-h3-banner: 28px;
    --font-p-banner: 12px;
    --font-a-banner: 14px;
    --font-h2-card: 14px;
    --font-h3-card: 10px;
    /*no usada*/
    --font-h4-card: 10px;
    /*no usada*/
    --font-p-card: 10px;
    --font-a-card: 10px;
    /*no usada*/
  }
}
/*Cell*/
@media (max-width: 425px) {
  body {
    --font-h2-header: 12px;
    --font-h3-header: 10px;
    --font-h4-header: 8px;
    --font-p-header: 8px;
    --font-a-header: 10px;
    --font-h2-banner: 14px;
    --font-h3-banner: 16px;
    --font-p-banner: 10px;
    --font-a-banner: 12px;
    --font-h2-body: 12px;
    --font-h3-body: 10px;
    --font-h4-body: 10px;
    --font-p-body: 10px;
    --font-a-body: 10px;
    --font-h2-card: 16px;
    --font-h3-card: 10px;
    /*no usada*/
    --font-h4-card: 10px;
    /*no usada*/
    --font-p-card: 10px;
    --font-a-card: 10px;
    /*no usada*/
  }
}
/*---------inicio Cart---------*/
.master-container {
  margin: 2rem;
  display: grid;
  grid-template: "cart cart coupons" "cart cart checkout";
  gap: 10px;
  /* cart */
  /* coupons */
  /* Checkout */
}
.master-container .card {
  border-radius: 14px;
  margin: 0 0 auto 0;
  width: auto;
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.master-container .card .title {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #efeff3;
  font-size: 16px;
  font-weight: bold;
  color: #63656b;
}
.master-container .card .small {
  font-size: 16px;
  font-weight: bold;
  margin: auto;
}
.master-container .cart {
  grid-area: cart;
}
.master-container .cart .products {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.master-container .cart .products .product {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
}
.master-container .cart .products .product:nth-child(odd) {
  background-color: rgba(223, 223, 223, 0.37);
}
.master-container .cart .products .product-img {
  justify-self: center;
}
.master-container .cart .products img {
  width: 25px;
  height: auto;
}
.master-container .cart .products span {
  font-size: 16px;
  font-weight: bold;
  color: #47484b;
  display: block;
}
.master-container .cart .products p {
  font-size: 14px;
  color: #7a7c81;
}
.master-container .cart .quantity {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
}
.master-container .cart .quantity label {
  width: 25px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #47484b;
}
.master-container .cart .quantity button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  padding-bottom: 2px;
}
.master-container .coupons {
  grid-area: coupons;
}
.master-container .coupons form {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 80px;
  gap: 10px;
  padding: 10px;
}
.master-container .coupons form .input_field {
  width: auto;
  font-size: 14px !important;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.master-container .coupons form .input_field ::placeholder {
  font-size: 14px;
}
.master-container .coupons form .input_field :focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}
.master-container .coupons form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;
  width: 100%;
  height: 36px;
  background: linear-gradient(180deg, #4480FF 0%, #115DFC 50%, #0550ED 100%);
  box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  border: 0;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
.master-container .checkout {
  grid-area: checkout;
}
.master-container .checkout .details {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
  gap: 5px;
}
.master-container .checkout .details span {
  font-size: 14px;
  font-weight: bold;
}
.master-container .checkout .details span :nth-child(odd) {
  font-size: 14px;
  font-weight: normal;
  color: #707175;
  margin: auto auto auto 0;
}
.master-container .checkout .details span :nth-child(even) {
  font-size: 14px;
  font-weight: bold;
  color: #47484b;
  margin: auto 0 auto auto;
}
.master-container .checkout .checkout--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  margin: 0 0 10px 0;
  background-color: #efeff3;
}
.master-container .checkout .checkout--footer .price {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: #2B2B2F;
}
.master-container .checkout .checkout--footer .price sub {
  width: fit-content;
  position: absolute;
  font-size: 11px;
  color: #5F5D6B;
  bottom: 5px;
  display: inline-block;
}
.master-container .checkout .checkout--footer .checkout-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 36px;
  background: linear-gradient(180deg, #4480FF 0%, #115DFC 50%, #0550ED 100%);
  box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 7px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

@media (max-width: 425px) {
  .master-container {
    grid-template: "cart" "coupons" "checkout";
  }
  .card {
    margin: none !important;
  }
}
/*---------fin Cart---------*/
/*--------- Inicio Contacto---------*/
.contacto {
  display: flex;
  place-content: center;
}
.contacto .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  width: 300px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}
.contacto .form .form-contact {
  color: #B13251;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto .form .form-contact h2 {
  font-size: 30px;
}
.contacto .form .form-contact-text {
  margin: 10px;
}
.contacto .form input {
  outline: 0;
  border: 1px solid #B13251;
  padding: 8px 14px;
  margin: 4px 0;
  border-radius: 8px;
  width: 100%;
  height: auto;
  font-size: 26px;
}
.contacto .form .form-message {
  width: 100%;
}
.contacto .form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  padding: 8px 14px;
  border: 1px solid #B13251;
  font-size: 26px;
}
.contacto .form button {
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 30px;
  font-weight: 500;
  background-color: #B13251;
  color: #f5f5f5;
  cursor: pointer;
  width: 100%;
}

/*--------- Fin Contacto---------*/
/* inicio contenedor cards*/
.grid-ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* fin contenedor cards*/
/*Inicio footer*/
.footer {
  width: 100%;
  background-color: #B13251;
}

/*Fin footer*/
/*------------- Inicio header---------------------*/
.header {
  /*fondo*/
  background-color: #B13251 !important;
  display: grid;
  width: 100vw;
  grid-area: "hlogo hsearch hmenu" 1fr "hlogo hsearch hmenu" 1fr;
  /*logo*/
  /*search*/
  /*Menu*/
}
.header .header-logo {
  grid-area: hlogo;
}
.header .header-logo .header-logo img {
  height: 0.5rem;
  object-fit: scale-down;
}
.header .header-search {
  grid-area: hsearch;
  font-weight: lighter;
  margin: auto;
}
.header .header-search .form-control {
  font-size: 12px !important;
  width: 30vw;
  height: 2rem;
  margin: auto;
}
.header .header-search a {
  font-size: 18px !important;
  color: white;
  margin: auto;
}
.header .header-navbar {
  grid-area: hmenu;
}
.header .header-navbar .navbar-toggler {
  border: none;
}
.header .header-navbar a {
  /*lista navbar*/
  font-size: 18px !important;
  color: white;
  margin: 0 auto;
  font-weight: lighter;
}

@media (max-width: 425px) {
  .header {
    grid-area: "hlogo hmenu hmenu" 1fr "hsearch hsearch hsearch" 1fr;
  }
  .header-logo img {
    height: 1rem;
  }
}
/*------------- fin header---------------------*/
/*Inicio Cards*/
.item-card-cerveza {
  /*card cerveza*/
  margin: 3% 2%;
  background-image: url(./Img/Card-Fondo\ 2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /*contenido dentro de la card botella + texto*/
}
.item-card-cerveza .contenido-card {
  display: flex;
  justify-content: center;
  align-items: center;
  /*imagen derecha*/
  /*text*/
}
.item-card-cerveza .contenido-card img {
  width: 60px;
}
.item-card-cerveza .contenido-card .contenido-txt-card {
  height: fit-content;
  width: 220px;
  padding: 5%;
  text-align: center;
  background-color: var(--color-shadow-white);
  border-radius: 5%;
}
.item-card-cerveza .contenido-card .contenido-txt-card h2 {
  color: var(--color-font-header);
  font-family: "Mulish";
  font-size: var(--font-h2-card);
}
.item-card-cerveza .contenido-card .contenido-txt-card p {
  color: var(--color-font-header);
  font-family: "Mulish";
  font-size: var(--font-p-card);
}

/*Inicio Cards*/
.item-card-vino {
  /*card*/
  margin: 15px 2%;
  background-image: url(./Img/Card-Fondo\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 300px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /*contenido dentro de la card botella + texto*/
}
.item-card-vino .contenido-card {
  display: flex;
  justify-content: center;
  align-items: center;
  /*imagen derecha*/
  /*text*/
}
.item-card-vino .contenido-card img {
  width: 60px;
}
.item-card-vino .contenido-card .contenido-txt-card {
  height: fit-content;
  width: 220px;
  padding: 5%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5%;
}
.item-card-vino .contenido-card .contenido-txt-card h2 {
  color: white;
  font-family: "Mulish";
  font-size: 24px;
}
.item-card-vino .contenido-card .contenido-txt-card p {
  color: white;
  font-family: "Mulish";
  font-size: 14px;
}

/*Fin Cards en home*/
/*Inicio Carousel*/
.carousel {
  /*contenedor slide carousel*/
  position: relative;
  width: 100%;
  /*inicio controles*/
  /*fin controles*/
  /*inicio inner*/
  /*texto de carousel*/
}
.carousel .carousel-indicators {
  position: absolute;
  top: 90%;
}
.carousel .carousel-control-prev {
  /*control prev*/
  left: -1%;
  z-index: 1;
  position: absolute;
}
.carousel .carousel-control-next {
  /*control next*/
  right: -1%;
  z-index: 1;
  position: absolute;
}
.carousel .carousel-inner img {
  /*imagen*/
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 425px) {
  .carousel .carousel-inner img {
    height: 30vh;
  }
}
.carousel .carousel-content {
  position: absolute;
  top: 25%;
  left: 10%;
}
.carousel .carousel-txt {
  position: relative;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5%;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 2%;
  color: white;
  margin: 1%;
}
.carousel .carousel-txt h2 {
  font-size: 32px !important;
  font-weight: bold;
  margin: 1%;
}
.carousel .carousel-txt h3 {
  color: white;
  font-size: 40px !important;
  font-weight: bolder;
  background-color: #B13251;
  margin: 1%;
}
.carousel .carousel-txt p {
  font-size: 18px !important;
  line-height: normal;
  margin: 0%;
}
.carousel .carousel-txt .btn {
  border: none;
  font-size: 24px !important;
  color: white;
  font-weight: bolder;
  background-color: #B13251;
  line-height: normal;
  margin: 0%;
}
@media (max-width: 425px) {
  .carousel .carousel-content {
    width: 60%;
    left: 10%;
    top: 10%;
  }
}

/*fin Carousel*/
/*Inicio ofertas destacadas*/
.selector-filtro {
  /*contenedor filtro*/
  display: block;
  margin: auto;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 10px;
}
.selector-filtro .txt-ofertas {
  width: 100%;
  padding: 0;
  margin: 0;
}
.selector-filtro .lista-opciones ul li {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}
.selector-filtro .lista-opciones h2 {
  width: auto;
  font-size: var(--font-h2-body);
  /*12px*/
  font-weight: bold;
  color: var(--color-font);
  font-family: "mulish";
}
.selector-filtro .lista-opciones a {
  color: var(--color-font);
  font-family: "mulish";
  font-size: var(--font-a-body);
  /*10 px*/
  margin: 0px 10px;
}
.selector-filtro .lista-opciones a:hover {
  color: var(--color-principal);
  font-family: "mulish";
  font-size: var(--font-a-body);
  /*12px*/
  font-weight: bold;
}

/*Fin ofertas destacadas*/

/*# sourceMappingURL=style.css.map */
