/*Inicio Carousel*/
.carousel {
    /*contenedor slide carousel*/
    position: relative;
    width: 100%;

    h2 {
        font-size: $font-h2-banner;
        font-weight: normal;
        margin: 1%;
    }

    h3 {
        color: $color-font-header;
        font-size: $font-h3-banner !important;
        font-weight: bolder;
        background-color: $color-principal;
        margin: 1%;
        text-transform: uppercase;
    }

    p {
        font-size: $font-p-banner !important;
        line-height: normal;
        margin: 1%;
    }

    /*inicio inner*/

    .carousel-inner{
        .carousel-item{
            .carousel-caption{
                margin: auto;
                width: fit-content;
                height: fit-content;
                background-color: $color-shadow-black;
                padding: 1%;
                border-radius: 10px;
            }  
        }
    }
}       

    /*fin Carousel*/




@media (max-width:426px) {
    .carousel{
        .carousel-inner {
            .carousel-item {
                img {
                    height: 30vh;
                }
                .carousel-content {
                    width: 60%;
                    left: 10%;
                    top: 10%
                }
            }
        }
    }
}
