/*------------- inicio card vino---------------------*/
.item-card-vino {
    /*card*/
    margin: 15px 2%;
    background-image: url(./../Img/Card-Fondo\ 1.png);
    background-repeat: round;
    background-size: contain;
    width: 400px;
    height: 300px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    &:hover {
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    }

    h2 {
        color: $color-font-header;
        font-size: $font-h2-card;
    }

    p {
        color: $color-font-header;
        font-size: $font-p-card;
    }

    /*contenido dentro de la card botella + texto*/
    .contenido-card {
        display: flex;
        justify-content: center;
        align-items: center;
        /*text*/
        .contenido-txt-card {
            height: fit-content;
            width: 220px;
            text-align: center;
            background-color: $color-shadow-black;
            border-radius: 5%;
            margin: 30px;
            padding: 5px;
        }
        /*imagen derecha*/
        .contenido-img-card{
            img{
                width: 60px;
            }
        }
    }
}
/*------------- fin card vino---------------------*/