/*---------inicio Cart---------*/

.master-container {
    margin: 2rem;
    display: grid;
    grid-template:
        "cart cart coupons"
        "cart cart checkout";
    gap: 10px;

    .card {
            border-radius: 14px;
            margin: 0 0 auto 0;
            width: auto;
            background: #FFFFFF;
            box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

            .title {
                width: 100%;
                height: 40px;
                position: relative;
                display: flex;
                align-items: center;
                padding-left: 20px;
                border-bottom: 1px solid #efeff3;
                font-size: $font-h3-card;
                font-weight: bold;
                color: #63656b;
            } 
            .small {
                font-size: $font-h3-card;
                font-weight: bold;
                margin: auto;
            }
        }
    /* cart */
    .cart {
        grid-area: cart;

        .products {
                display: flex;
                flex-direction: column;
                padding: 10px;

                .product {
                        display: grid;
                        grid-template-columns: 1fr 4fr 1fr 1fr;
                        gap: 10px;
                        padding: 5px;
                        border-radius: 5px;
                    }
                
                    .product:nth-child(odd) {
                        background-color: rgba(223, 223, 223, 0.37);
                    }
                
                    .product-img {
                        justify-self: center;
                    }
                
                    img {
                        width: 25px;
                        height: auto;
                    }
                
                    span {
                        font-size: $font-h3-card;
                        font-weight: bold;
                        color: #47484b;
                        display: block;
                    }
                
                    p {
                        font-size: $font-p-card;
                        color: #7a7c81;
                    }
            }
        
            
        
        .quantity {
            height: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: auto;
            background-color: #ffffff;
            border: 1px solid #e5e5e5;
            border-radius: 7px;
            filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));

            label {
                width: 25px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: $font-p-card;
                font-weight: bold;
                color: #47484b;
        
            }
            
            button {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
                background-color: transparent;
                padding-bottom: 2px;
            }
        }
    }

    /* coupons */
    .coupons {
        grid-area: coupons;
        
        form {
            display: grid;
            width: auto;
            grid-template-columns: 1fr 80px;
            gap: 10px;
            padding: 10px;
        
            .input_field {
                width: auto;
                font-size: $font-p-card !important;
                padding: 0 0 0 12px;
                border-radius: 5px;
                outline: none;
                border: 1px solid #e5e5e5;
                filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
                transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);

                ::placeholder {
                    font-size: $font-p-card;
                }
                :focus {
                    border: 1px solid transparent;
                    box-shadow: 0px 0px 0px 2px #242424;
                    background-color: transparent;
                }
            }
            button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 18px;
                gap: 10px;
                width: 100%;
                height: 36px;
                background: linear-gradient(180deg, #4480FF 0%, #115DFC 50%, #0550ED 100%);
                box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
                border-radius: 5px;
                border: 0;
                font-style: normal;
                font-size: $font-h4-card;
                font-weight: bold;
                color: #ffffff;
            }
        }
    }

        /* Checkout */
        .checkout {
            grid-area: checkout;

            .details {
                display: grid;
                grid-template-columns: 3fr 1fr;
                padding: 10px;
                gap: 5px;

                span {
                    font-size: $font-h4-card;
                    font-weight: bold;

                    :nth-child(odd) {
                        font-size: $font-h4-card;
                        font-weight: normal;
                        color: #707175;
                        margin: auto auto auto 0;
                    }
                    :nth-child(even) {
                        font-size: $font-h4-card;
                        font-weight: bold;
                        color: #47484b;
                        margin: auto 0 auto auto;
                    }
                }
            }
            .checkout--footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 10px 10px 20px;
                margin: 0 0 10px 0;
                background-color: #efeff3;

                .price {
                        position: relative;
                        font-size: $font-h2-card;
                        font-weight: bold;
                        color: #2B2B2F;
                    sub {
                        width: fit-content;
                        position: absolute;
                        font-size: 11px;
                        color: #5F5D6B;
                        bottom: 5px;
                        display: inline-block;
                    }
                }

                    .checkout-btn {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 150px;
                        height: 36px;
                        background: linear-gradient(180deg, #4480FF 0%, #115DFC 50%, #0550ED 100%);
                        box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
                        border-radius: 7px;
                        border: 0;
                        outline: none;
                        color: #ffffff;
                        font-size: $font-h4-card;
                        font-weight: bold;
                        transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
                    }

            }
            
        }     
}

@media (max-width: 425px) {
    .master-container {
        grid-template:
            "cart"
            "coupons"
            "checkout";
    }

    .card {
        margin: none !important;
    }

}

/*---------fin Cart---------*/