
/*------------- inicio contenedor grid---------------------*/
.principal-content{
    .grid-ofertas {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-content: center;
    }
}
/*------------- Fin contenedor grid---------------------*/