/*------------- Inicio header---------------------*/

.header {
    /*fondo*/
    background-color: $color-background-nav !important;
    .container-fluid{
        display: grid;
        width: 100vw;
        grid-template:
            "hlogo hsearch hmenu" 1fr
            "hlogo hsearch hmenu" 1fr;
        
        /*logo*/
        .header-logo {
            grid-area: hlogo;
    
            img {
                height: 3rem;
                object-fit: scale-down;
            }
        }
    
        /*search*/
        .header-search {
            grid-area: hsearch;
            font-weight: lighter;
            margin: auto;
    
            .form-control {
                font-size: $font-p-header !important;
                width: 35vw;
                margin: auto;
            }
    
            .btn {
                font-size: $font-p-header !important;
                color: $color-font-header;
                margin: auto;
                border-color: $color-font-header;
            }
        }
    
        /*Menu*/
        .header-navbar {
            grid-area: hmenu;
            justify-self: right;    
            .navbar-toggler {
                border: none;
                color: $color-font-header !important;   
            }
    
            a {
                /*lista navbar*/
                font-size: $font-a-header !important;
                color: $color-font-header;
                text-decoration: none;
                margin: 0 auto;
            }
        }
    
    }
}

@media (max-width:426px) {
    .header {
        .container-fluid {
            display: grid;
            grid-template:
                "hlogo hlogo hmenu" 1fr "hsearch hsearch hsearch" 1fr;

            .header-logo {
                img {
                    height: 2rem;
                }
            }

            .header-search {
                margin: 5px;
                .form-control {
                    width: 50vw;
                }
            }

        }
    }
}


/*------------- fin header---------------------*/