/*------------- Inicio header---------------------*/

.header {
    /*fondo*/
    background-color: $color-background-nav !important;
    .container-fluid{
        display: grid;
        width: 100%;
        margin: 0 10px;
        grid-template:
            "hlogo hsearch hmenu" auto
            "hlogo hsearch hmenu" auto;
        
        /*logo*/
        .header-logo {
            grid-area: hlogo;
    
            img {
                height: 3rem;
                object-fit: scale-down;
            }
        }
    
        /*search*/
        .header-search {
            grid-area: hsearch;
            margin: 0 auto;
    
            .form-control {
                font-size: $font-p-header !important;
                font-weight: lighter;
                line-height: 0;
                width: auto;
                margin: auto;
            }
    
            .btn {
                font-size: $font-p-header !important;
                color: $color-font-header;
                margin: auto;
                border-color: $color-font-header;
            }
        }
    
        /*Menu*/
        .header-navbar {
            grid-area: hmenu;
            justify-self: center;
            .navbar-toggler {
                border: none;
                color: $color-font-header;
            }

            a {
                /*lista navbar*/
                font-size: $font-a-header !important;
                margin: 0 auto;
                color: $color-font-header;
            }
        }
    }
}


@media (max-width:426px) {
    .header {
        .container-fluid {
            grid-template:
            "hlogo hmenu" auto
            "hsearch hsearch" auto;
        }
    }
}



/*------------- fin header---------------------*/