/*Colors*/
$color-principal: #B13251;
$color-background-nav: #B13251;
$color-background: #f5f5f5;

$color-font: rgb(38, 38, 38);
$color-font-principal: #B13251;
$color-font-background: grey;
$color-font-header: white;

$color-shadow-black: rgba(0, 0, 0, 0.15);
$color-shadow-white: rgba(255, 255, 255, 0.2);