/*Font size*/
body {
    font-size: 16px;
}

$font-h2-header: 150%;
$font-h3-header: 125%;
$font-h4-header: 115%;
$font-p-header: 100%;
$font-a-header: 100%;

$font-h2-body: 175%;
$font-h3-body: 150%;
$font-h4-body: 125%;
$font-p-body: 100%;
$font-a-body: 100%;

$font-h2-banner: 130%;
$font-h3-banner: 175%;
$font-p-banner: 100%;
$font-a-banner: 125%;

$font-h2-card: 150%;
$font-h3-card: 125%;
$font-h4-card: 100%;
$font-p-card: 100%;
$font-a-card: 100%;

@media (max-width:1024px) {
body {
        font-size: 14px;
    }
}

@media (max-width:769px) {
    body {
        font-size: 12px;
    }
}

@media (max-width:425px) {
    body {
        font-size: 12px;
    }
}

/*PC
@media (max-width:1440px) {
    $font-h2-header: 20px;
    $font-h3-header: 18px;
    $font-h4-header: 14px;
    $font-p-header: 12px;
    $font-a-header: 128px;

    $font-h2-body: 30px;
    $font-h3-body: 26px;
    $font-h4-body: 22px;
    $font-p-body: 14px;
    $font-a-body: 18px;

    $font-h2-banner: 32px;
    $font-h3-banner: 40px;
    $font-p-banner: 18px;
    $font-a-banner: 24px;

    $font-h2-card: 24px;
    $font-h3-card: 16px;
    
    $font-h4-card:14px;
    
    $font-p-card: 14px;
    $font-a-card: 12px;
    
}*/

/*Laptop
@media (max-width:1024px) {
    $font-h2-header: 14px;
    $font-h3-header: 12px;
    $font-h4-header: 10px;
    $font-p-header: 10px;
    $font-a-header: 12px;

    $font-h2-body: 22px;
    $font-h3-body: 18px;
    $font-h4-body: 16px;
    $font-p-body: 14px;
    $font-a-body: 14px;

    $font-h2-banner: 22px;
    $font-h3-banner: 32px;
    $font-p-banner: 12px;
    $font-a-banner: 18px;

    $font-h2-card: 18px;
    $font-h3-card: 12px;
    $font-h4-card: 12px;
    $font-p-card: 12px;
    $font-a-card: 12px;
    
}


Tablet
@media (max-width:769px) {
    $font-h2-header: 12px;
    $font-h3-header: 10px;
    $font-h4-header: 8px;
    $font-p-header: 8px;
    $font-a-header: 10px;

    $font-h2-body: 18px;
    $font-h3-body: 14px;
    $font-h4-body: 12px;
    $font-p-body: 10px;
    $font-a-body: 10px;

    $font-h2-banner: 18px;
    $font-h3-banner: 28px;
    $font-p-banner: 12px;
    $font-a-banner: 14px;

    $font-h2-card: 14px;
    $font-h3-card: 10px;
    
    $font-h4-card: 10px;
    
    $font-p-card: 10px;
    $font-a-card: 10px;
    
}

Cell
@media (max-width:425px) {
    $font-h2-header: 12px;
    $font-h3-header: 10px;
    $font-h4-header: 8px;
    $font-p-header: 8px;
    $font-a-header: 10px;

    $font-h2-banner: 14px;
    $font-h3-banner: 16px;
    $font-p-banner: 10px;
    $font-a-banner: 12px;

    $font-h2-body: 12px;
    $font-h3-body: 10px;
    $font-h4-body: 10px;
    $font-p-body: 10px;
    $font-a-body: 10px;

    $font-h2-card: 16px;
    $font-h3-card: 10px;
    
    $font-h4-card: 10px;
    
    $font-p-card: 10px;
    $font-a-card: 10px;
    
}
*/